*.zip
*.jar
*.mod
*~
*.sw?
mx.core/*.pyc
mx.core/env
mx.core/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
lib/**
mxbuild/**
.idea/**
build/**
dumps/**
core/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
